services:
  - type: web
    name: awning-company-backend
    env: node
    region: oregon
    plan: starter
    buildCommand: |
      npm install
      npx puppeteer browsers install chrome
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: false
      - key: PUPPETEER_CACHE_DIR
        value: /opt/render/.cache/puppeteer

      - key: NODE_VERSION
        value: 22.15.0
